---
layout: archive
title: "Lecture Notes"
permalink: /lecture/
author_profile: true
---
<blockquote>
  It is not enough to be in the right place at the right time. You should also have an open mind at the right time. -<a href="https://en.wikiquote.org/wiki/Paul_Erd%C5%91s">Paul Erdős</a>
</blockquote>

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.lecture reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
